/* Header */

.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

h1 {
  padding-left: 80px;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* End header */

/* Footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* End footer */

/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}

/* End box-head */

/* Song - item */
.song-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.song-item .inner-image {
  width: 115px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.song-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-item .inner-content {
  padding: 10px;
  flex: 1;
}

.song-item .inner-content .inner-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
}

.song-item .inner-content .inner-title a {
  font-size: 14px;
  font-weight: 700;
  color: #4d007d;
}

.song-item .inner-content .inner-title a:hover {
  color: #7c00c8;
  text-decoration: none;
}

.song-item .inner-content .inner-singer {
  font-size: 13px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 2px;
}

.song-item .inner-content .inner-like {
  font-size: 13px;
  font-weight: 500;
  color: #004cd0;
  margin-bottom: 2px;
}

.song-item .inner-content .inner-time {
  font-size: 13px; 
  font-weight: 500; 
  color: #585858;
}

.song-item .inner-content .inner-heart{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  cursor: pointer;
}

.song-item .inner-content .inner-heart.active {
  color: red;
}

.song-item .inner-content .inner-heart.active i {
  font-weight: 900;
}
/* End song-item */

/* Start Singer-detail */
.singer-detail {
  padding: 20px 0;
}

.singer-detail .inner-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #F57F20;
}

.singer-detail .inner-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.singer-detail .inner-actions .inner-action {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555; 
}

.singer-detail .inner-actions .inner-action i {
  margin-right: 5px;
}

.singer-detail .inner-actions .inner-time i,
.singer-detail .inner-actions .inner-singer i,
.singer-detail .inner-actions .inner-topic i {
  color: #555; 
}

.singer-detail .inner-actions .inner-like{
  cursor: pointer;
}

.singer-detail .inner-actions .inner-like i{
  color: blue; 
}

.singer-detail .inner-actions .inner-like.active{
  color: blue; 
}

.singer-detail .inner-actions .inner-like.active i{
  font-weight: 900;
}

.singer-detail .inner-actions .inner-heart{
  cursor: pointer;
}


.singer-detail .inner-actions .inner-heart i {
  color: red;
}

.singer-detail .inner-actions .inner-heart.active{
  color: red; 
}

.singer-detail .inner-actions .inner-heart.active i{
  font-weight: 900;
}

.singer-detail .inner-play {
  display: flex;               
  align-items: center;      
  gap: 20px;                   
  margin-bottom: 20px;
}

.singer-detail .inner-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;          
  overflow: hidden;             
  border: 5px solid #F57F20;   
  margin-right: 20px;
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.singer-detail .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
}

.singer-detail .inner-audio {
  flex-grow: 1;               
}

.singer-detail .inner-audio audio {
  width: 100%;
  max-width: 500px;             
  outline: none;
  border-radius: 10px;         
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.singer-detail .inner-desc {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.singer-detail .inner-desc .inner-label {
  font-size: 16px;
  font-weight: 700;
  color: #F57F20;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fdf7f1;    
}

.singer-detail .inner-desc .inner-text {
  font-size: 14px;
  padding: 10px 15px;
  color: #333;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .singer-detail .inner-play {
    flex-direction: column; 
  }

  .singer-detail .inner-avatar {
    width: 100%;
    height: auto;
  }

  .singer-detail .inner-audio {
    width: 100%;
  }
}
/* End Singer-detail */

/* Box-search */
.box-search{
  position: relative;
}

.box-search .inner-suggest{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  overflow-y: auto;
  display: none;
}

.box-search .inner-suggest.show {
  display: block;
}

.box-search .inner-suggest .inner-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.box-search .inner-suggest .inner-item:hover {
  background: #efefef;
  text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child {
  border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.box-search .inner-suggest .inner-item .inner-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info {
  flex: 1;
  margin-left: 10px;
}

.box-search .inner-suggest .inner-item .inner-info .inner-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #4d007d;
}

.box-search .inner-suggest .inner-item .inner-info .inner-singer {
  font-size: 13px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 2px;
}

/* End Box-search */
 





